@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 1rem;
  
  font-family: 'Courgette', cursive;
  // font-family: 'Devonshire', cursive;
  background-color: vars.$mainBackground;
  color: vars.$fontColor;
}

h1, h2, h3 {
  font-weight: normal;
}
