.slider {
  display: none;
}

@media screen and (min-width: 879px) {
  .slider {
    display: block;
    border-radius: 3rem;
    height: 20rem;
    overflow: hidden;
    width: 80%;
    background-image: url(src/assets/img/imgSlider.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1.5rem;
    box-shadow: 0px 0px 1rem #1d2327;
  }
}
