.serchbar {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem 1rem 1rem 1rem;

  &__btn__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0.5rem;
  }

  &__wrapper__form {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 1rem;
  }
}

.btn__wrapper__elm {
  background: none;
  width: 7rem;
  height: 3rem;
  border: 5px solid #C14953;
  color: #F2EEE4;
  position: relative;
  border-radius: 1rem;
  margin: 1rem;

  &:hover {
    color: #F2EEE4;
  }

  &::before {
    content: "";
    position: absolute;
    width: 0rem;
    height: 2.4rem;
    top: 0rem;
    left: 0rem;
    background-color: #C14953;
    z-index: -1;
    transition: .4s linear;
  }

  &:hover::before {
    width: 6.5rem;
  }
}

.wrapper__form__input {
  height: 2rem;
  border: none;
  outline: none;
  padding: 0rem 1rem;
  border-radius: 1rem 0rem 0rem 1rem;
  margin-right: 0rem;

  &:focus {
    border: 0.2rem solid #C14953;;
  }
}

.wrapper__form__submit {
  height: 2.07rem;
  width: 4rem;
  border: none;
  outline: none;
  border-radius: 0rem 1rem 1rem 0rem;
  margin-left: 0rem;
  background-color: #C14953;
  color: #F2EEE4;

  &:hover {
    background-color: #c26068;
  }
}

@media screen and (max-width: 357px) {
  .wrapper__form__input {
    width: 7rem;
  }
}

@media screen and (min-width: 879px) {

  .wrapper__form__submit {
    height: 3.07rem;
    width: 4rem;
  }
  .wrapper__form__input {
    height: 3rem;
    width: 25rem;
  }
  
  .btn__wrapper__elm {
    background: none;
    width: 9rem;
    height: 5rem;
    border: 5px solid #C14953;
    color: #F2EEE4;
    position: relative;
    border-radius: 1rem;
    margin: 0.5rem;
    font-family: 'Courgette', cursive;
    font-size: 1rem;

    &:hover::before {
      width: 8.5rem;
    }

    &::before {
      content: "";
      position: absolute;
      width: 0rem;
      height: 4.4rem;
      top: 0rem;
      left: 0rem;
      background-color: #C14953;
      z-index: -1;
      transition: .4s linear;
    }
  }
}
