@use 'src/styles/vars';

.form__wrapper {
  margin: 1rem;
  border: 2px solid vars.$fontColor;
  border-radius: 1rem;
}

.conect {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  overflow: scroll;
  max-height: 95vh;
  top: -1%;
  padding-top: 20rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.829);
  z-index: 20;
  transition: .5s;

  &__h4 {
    font-size: 1.5rem;
    text-align: center;
  }

  &__div {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    height: 2rem;
    border: 2px solid vars.$fristColor;
    border-radius: 1rem;
    transition: .5s;
  }

  &__button {
  height: 2rem;
  width: 6rem;
  border: 2px solid vars.$fristColor;
  background-color: vars.$fristColor;
  border-radius: 1rem;
  color: vars.$fontColor;
  transition: .5s;
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 2rem;
    width: 2rem;
    background-color: vars.$fristColor;
    background-color: vars.$fristColor;
    color: vars.$fontColor;
    border-radius: 50%;
    transition: .5s;
  }
  &__p {
    align-self: flex-start;
    margin-left: 3rem;
    transition: .5s;
  }
}

p.conect__error {
  border: 1px solid red;
  border-radius: 50%;
}

.conect--off {
  top: -150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  overflow: scroll;
  max-height: 95vh;
  padding-top: 20rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.829);
  z-index: 20;
  transition: .8s;
  opacity: 0;
}



.singin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  border-radius: 1rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.829);
  z-index: 20;
  transition: .5s;

  &__h4 {
    font-size: 1.5rem;
  }

  &__div {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  &__input {
    height: 2rem;
    border: 2px solid vars.$fristColor;
    border-radius: 1rem;
    transition: .5s;
  }

  &__button {
    height: 2rem;
    width: 6rem;
    border: 2px solid vars.$fristColor;
    background-color: vars.$fristColor;
    border-radius: 1rem;
    color: vars.$fontColor;
    transition: .5s;
  }

  &__close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: vars.$fristColor;
    background-color: vars.$fristColor;
    color: vars.$fontColor;
    border-radius: 50%;
    transition: .5s;
  }
  &__p {
    align-self: flex-start;
    margin-left: 3rem;
    transition: .5s;
  }
}

@media (min-width: 878px)  {

  .conect {
    left: 30%;
    top: 0;
    width: 40rem;
    padding-top: 0rem;

    &__button {
      height: 3rem;
      width: 8rem;
    }
    &__input {
      width: 15rem;
    }
    &__close {
      height: 3rem;
      width: 3rem;
    }
  }
  .singin {
    height: 40rem;
    width: 40rem;
    top: 25%;
    left: 30%;

    &__button {
      height: 3rem;
      width: 8rem;
    }
    &__input {
      width: 15rem;
    }
    &__close {
      height: 3rem;
      width: 3rem;
    }
  }
  .conect--off {
    left: 30%;
    width: 40rem;
  }
}

@media (min-height: 720px)  {
 .conect {
   padding-top: 15rem;
 }
}
@media (min-height: 800px)  {
  .conect {
    padding-top: 10rem;
  }
}
 @media (min-height: 850px)  {
  .conect {
    padding-top: 7rem;
  }
}
