@use 'src/styles/vars';

.nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0);
  border-radius: 1rem 1rem 1rem 1rem;
  margin-top: 1.5rem;
}
/*--when menu is close--*/
nav.nav--collapse {
  border-radius: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.9);
  height: 5rem;
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 1rem;
  
  &__logo {
    display: block;
    width: 5rem;
  }

  &__title{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-family: 'Courgette', cursive;
  }

  &__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    gap: 3rem;
    top: 6.5rem;
    right: 1.5rem;
    height: 30rem;
    padding: 1.5rem;
    opacity: 1;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 0rem 0rem 1rem 1rem;
    z-index: 11;/* z index of 10 in component Select of semantic-ui */
  }

  &__link {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: black;
    color: vars.$fontColor;

    &:hover {
    text-shadow: 0 0 10px #FFE0B5,
                 0 0 20px #FFE0B5,
                 0 0 40px #FFE0B5,
                 0 0 80px #FFE0B5,
                 0 0 120px #FFE0B5,
                 0 0 160px #FFE0B5;
    }

    &__connexion {
      border: 2px solid #77A0A9;
      border-radius: 0.5rem;
      transition: .4s;

      &:hover {
        background-color: #77A0A9;
        text-shadow: none;
      }
    }
  }

  &__link__settings {
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    transition: .4s;
  
    &__profil {
      border: 2px solid #77A0A9;
      padding: 0.5rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      transition: .4s;
  
      &:hover {
        background-color: #77A0A9;
        text-shadow: none;
      }
    }
  
    &__logout {
      border: 2px solid vars.$fristColor;
      padding: 0.5rem;
      font-size: 1.5rem;
      border-radius: 0.5rem;
      transition: .4s;
  
      &:hover {
        background-color: vars.$fristColor;
        text-shadow: none;
      }
    }
  }

  /*--when menu is close--*/
  &__menu--collapse {
    display: none;
  }
}

.toggler__icon {
  display: block;
}

.toggler__icon div {
  width: 2rem;
  height: 0.1rem;
  background-color: vars.$fontColor;
  margin: .5rem 0rem;
}

@media screen and (max-width: 1061px) {
  .nav__link {
    font-size: 1rem;

    &__settings__profil {
      font-size: 1rem;
    }

    &__settings__logout {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 879px) {
  .nav__wrapper {
    border-radius: 1rem;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 1rem;
    
    &__logo {
      display: none;
    }
    &__title{
      display: none;
    }
    
    &__menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
      padding: 1rem;
      position: relative;
      top: 0rem;
      height: 0rem;
      right: 0rem;
      background:none
    }
    .toggler__icon {
      display: none;
    }
    &__menu--collapse {
      opacity: 1;
    }
  }
  form.serchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 20;

  }
}
p.serchbar__p {
  margin: 0rem;
  font-family: 'Courgette';
  font-size: 1.2rem;
}

@media screen and (max-width: 459px) {
  .nav__title {
    font-size: 1.1rem;
    margin: 0rem;
  }
}
.serchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__select {
    background-color: #3A4750;
  }

  &__submit__button {
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 1rem;
    font-size: 1.2rem;
    background-color: vars.$fristColor;
    color: #F2EEE4;
  }
}

.ui.selection.dropdown.serchbar__select {
  background-color: #000000;
  color: white;
}
.active.selected.item {
  background-color: #606366;
}
.item {
  background-color: #606366;
}
span.text {
  color: #000;
}

span.connect__error {
  border: 1px solid red;
  border-radius: 1rem;
  margin: 0.7rem;
  padding: 1rem 1rem;
  background-color: rgba(255, 0, 0, 0.404);
}
